@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}

.GPage {
  max-width: 960px;
  margin: 0 auto;
}

.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin: 0px;
  padding: 0px;
  font-size: 2.6rem;
}

.title p{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  color:#efb6b2;
}

.titleUploads h2 {
  text-align: center;
  margin-top: 90px;
  font-size: 2.6rem;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 50%;
}

.column2 {
  flex: 50%;
}

.displayedImg {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  left: 400px;
  position: absolute;
  border-color: #efb6b2;
  border-width: 1.0px;
  border-style: solid;
  padding: 5px;
}

.formSpace {
  margin-top: 20px;
  position: absolute;
  text-align: left;
  left: 650px;
  font-size: 1.0rem;
}

.submitButton {
  width: 270px;
  background-color:#efb6b2;/* Green */
  border-radius: 3px;
  border-width: 0px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: "Noto-Serif";
  letter-spacing: 2px;
}

.submitButton:hover {
  opacity: 0.8;
}

.fillerText {
  font-size: 16px;
  color: #efb6b2;
}


input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #efb6b2;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #efb6b2;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

.parentOutfit {
  text-align: center;
}

.outfitPic {
  margin-bottom: 2px;
  border-radius: 7px;
  opacity: 0.9;
}

.tagline {
  position: relative;
  text-align: center;
}

.SearchBar {
  text-align: center;
}

#city {
  text-align: center;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.5px;
  border-color:#4e4e4e;
  border-style: solid;
}

#state {
  width: 30px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0.5px;
  border-color:#4e4e4e;
  border-style: solid;
}

#GetDressing {
  width: 1.6in;
  height: 23px;
  background-color: #efb6b2;
  color: white;
  border-width: 0;
  border-radius: 3px;
}

#GetDressing:hover {
  opacity: 0.6;
  cursor: pointer;
}

#WeatherStatus {
  text-align: center;
  height: 26px;
  background-color: #fff1f0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 0px;
  border-color:#efb6b2;
  border-radius: 6px;
  border-style: solid;
  padding: 6px;
}

.curWeath {
  background-color: white;
  margin-right: 20px;
  border-width: 2px;
  border-color:#efb6b2;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  box-shadow:12px 12px 25px grey;  
}

.cardTitle {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 3px;
}

.outfitTitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 3px;
}

.locationTag {
  text-align: center;
  padding: 0px;
  margin-bottom: 20px;
  font-size: 0.8em;
  color:gray;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.creditTag {
  text-align: center;
  padding: 0px;
  font-size: 0.8em;
  color:#4e4e4e;
  letter-spacing: 3px;
}

.tempTag {
  display:inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.parentTemp{
  text-align: center;
}

.descTag {
  font-size: 0.8em;
  color:gray;
  letter-spacing: 3px;
}

.numTag {
  font-size: 2em;
  color:#4e4e4e;
  font-weight: 999;
  letter-spacing: 1px;
}

.windTag {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  color: gray;
}

.rainTag {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  color:#4e4e4e;
}

.parentWeather {
  text-align: center;
}

#randomButton {
  color:#ffffff;
  width: 100%;
  height: 36px;
  background-color: #efb6b2;
  border-radius: 10px;
  border-width: 0px;
  letter-spacing: 3px;
}

#randomButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logoName {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color:#fff1f0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  right: 200px;
  top: 360px;
}

.tweetButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color:#efb6b2;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 460px;
  right: 200px;
}

.tweetButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.shopButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #d6847e;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 560px;
  right: 200px;
}

.shopButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.iconFA {
  font-size: 2.8em;
  color: white;
  align-self: center;
}

